@import url("https://fonts.googleapis.com/css?family=Inconsolata&display=swap");

html {
}

body {
  text-align: center;
  font-family: "Inconsolata", monospace;
  background-color: #484848;
}
.gameTopBar {
  text-align: center;
}

.titleLeft {
  color: #9bc8e5;
}

.titleRight {
  color: #a47ea7;
}

.highlightText {
  color: #5783ad;
}

p {
  color: #9bc8e5;
}

.up {
  width: 90px;
  transform: rotate(0deg);
}

.right {
  width: 90px;
  transition: transform 0.3s ease;
  transform: rotate(90deg);
}

.down {
  width: 90px;
  transition: transform 0.3s ease;
  transform: rotate(180deg);
}

.left {
  width: 90px;
  transition: transform 0.3s ease;
  transform: rotate(270deg);
}

.train {
  width: 90px;
  transition: 0.5s linear;
}
